<div class="container text-center">
<div id="wrap">
    <div class="container">
        <img itemprop="image" class="mkdf-light-logo" src="./assets/Blueirissoft-logo.png" style="height: 100px;"/>
    </div>
    <h1>Login to Global Pay</h1>
    <div id="app" class="container text-center col-md-6  offset-md-3 ml80">
        <div>
            <div class="alert-warning alert alert-danger" *ngIf="invalidLogin">{{errorMessage}}</div>
            <h2>User Name</h2>
            <input type="text" class="form-control" placeholder="Please enter username" name="username" [(ngModel)]='username'/>
        </div>
        <div>
            <h2>Password</h2>
            <input type="password" class="form-control" placeholder="Please enter password" name="password" [(ngModel)]='password'/>
            
        </div>
        <button class="btn btn-primary mb-3 mt20 " (click)=eventBindingOfLoginOrHandleLogin()>Log in</button>
        <button class="btn btn-accent mb-3 mt20 ml20" (click)=eventBindingOfResetOrHandleReset()>Reset</button>
    </div>
</div>
</div>