/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/browse/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.mt20{
    margin-top: 20px;
}

.ml80{
    margin-left: 25%;
}

.ml20{
    margin-left: 20px;
}